body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


/* Change the color of the navigation bar (Header) */
.navbar {
    background-color: #ffffff
}

/* Change the bacground color of the toggle bar in the navigation bar, (Header) */
.navbar-toggle {
    background-color: black;
}

/* Change the color of the brand text, the one in the top right corner in the navigation bar, (Header)*/
.navbar-inverse .navbar-brand {
    color: #ff0808;
}

    /* Change the focus color of the brand text, the one in the top right corner in the navigation bar, (Header)*/
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: rgba(253, 0, 0, 0.50);
}

/* Text color on the header */
.navbar-inverse .navbar-nav > li > a {
    color: #a10000;
}

/* Text color on the header when hover on it */
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: rgba(160, 0, 16, 0.47);
}

/* our own Solvr logo in the navigation bar, (Header)*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
    background: url("../images/logo.png") no-repeat center left;
    display: block;
    height: auto;
    width: 130px;
}
 /*Positions the create Post button on the navbar, (header) */
.button-createPost {
    height: 50px;
    width: 100px;
    margin-left: 120px;
    padding-bottom: 20px;
}

/* Moves the body down by 60px and etc. */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
}

/*Changing this makes all buttons bigger - padding is 3 px*/
.post-Btn-Size {
    padding: 3px;
}

/*Makes the button a part of a table cell*/
.post-BtnFloat input {
    vertical-align: middle;
    display: table-cell;
}

/*Floats a button right inside a table*/
.post-BtnFloat {
    float: right;
    display: table;
    padding: 1px;
}

/*The standard text area size*/
.post-TextArea-Standard{
    resize: none;
    width: 100%;
}

/*The size of the textarea view*/
.post-TextArea-View{
    resize: none;
    width: 88%;
}

/*A container for the textarea that doesn't float*/
.post-CommentBox-TextArea{
    float: none;
    padding: 2px;
    vertical-align: middle;
}

/*The box view for making a comment*/
.post-Box-MakeComment-Standard {
    float: none;
    height: auto;
    width: 60%;
    margin: 0,3px;
    padding: 5px;
}

/*The box view for viewing a post*/
.post-Box-ViewPost-Standard {
    float: none;
    height: auto;
    width: 100%;
    margin: 0,3px;
    padding: 5px;
}

/*The box view for Viewing a comment*/
.post-Box-ViewComment-Standard {
    float: none;
    height: auto;
    width: 80%;
    margin: 0,3px;
    padding: 5px;
    border: double;
    border-radius: 10px;
}

/*The standard size for the users avatar*/
img.post-CommentAvatar {
    object-fit: cover;
    height: 64px;
    width: 64px;
    vertical-align: middle;
    float: left;
    padding: 5px;
}

/*All vote images have the same size and padding*/
img.post-Vote {
    padding: 2px;
    height: 32px;
    width: 32px;
}

/*A container that floats right with a distance of 1% from the top*/
.post-VoteFloat{
    float: right;
    display: table;
    margin-top: 1%;
}

/*All images in votefloat will be divided into table cells and aligned in the middle vertically*/
.post-VoteFloat img {
    vertical-align: middle;
    display: table-cell;
}
/*Label between vote arrows*/
.post-VoteLabel{
    padding: 1px;
    margin-left: 30%;
}

/*Label for datecreated*/
.post-DateLabel {
    padding: 1px;
}

