<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISolvrServices" maxBufferPoolSize="64000000"
                    maxBufferSize="64000000" maxReceivedMessageSize="64000000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2112/Solvr" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISolvrServices" contract="RemoteSolvrReference.ISolvrServices"
                name="BasicHttpBinding_ISolvrServices" />
        </client>
    </system.serviceModel>
</configuration>