@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We are a group of six young individuals, that have taken it upon ourselves, to solve the problems of the world.</p>
