@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Sofiendalsvej 60 <br />
    9200 Aalborg SV<br />
    <phone>Tlf: 99 99 99 99 </phone>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Solvr@Support.com">Solvr@Support.com</a><br />
</address>