@{
    ViewBag.Title = "Contacts";
}
<h2>@ViewBag.Title</h2>

<div class="contact-Box-ViewStaff-Standard SizeOfPortrait">
    <div>
        @* Anders profil *@
        <img src="~/Content/Images/AndersGert.jpg" class="SizeOfPortrait" /><br />
        <strong>Name:</strong> Anders Gert Birkbak Nielsen<br />
        <strong>Title:</strong> Developer <br />
        <strong>Email:</strong> <a href="mailto:1061694@ucn.dk">1061694@ucn.dk</a><br />
    </div>
    <div>
        @* Christoffer Profil *@
        <img src="~/Content/Images/Christoffer.jpg" class="SizeOfPortrait" /><br />
        <strong>Name:</strong> Christoffer Lund Sørensen<br />
        <strong>Title:</strong> Developer <br />
        <strong>Email:</strong> <a href="mailto:1061885@ucn.dk">1061885@ucn.dk</a><br />
    </div>
</div>
<div class="contact-Box-ViewStaff-Standard SizeOfPortrait">
    <div>
        @* Daniel Grønhøj profil *@
        <img src="~/Content/Images/DanielGL.jpg" class="SizeOfPortrait" /><br />
        <strong>Name:</strong> Daniel Grønhøj Lindgreen<br />
        <strong>Title:</strong> Developer <br />
        <strong>Email:</strong> <a href="mailto:1061936@ucn.dk">1061936@ucn.dk</a><br />
    </div>
    <div>
        @* Daniel Søgaard profil *@
        <img src="~/Content/Images/DanielSJ.jpg" class="SizeOfPortrait" /><br />
        <strong>Name:</strong> Daniel Søgaard Jakobsen<br />
        <strong>Title:</strong> Developer <br />
        <strong>Email:</strong> <a href="mailto:1055754@ucn.dk">1055754@ucn.dk</a><br />
    </div>
</div>
<div class="contact-Box-ViewStaff-Standard SizeOfPortrait">
    <div>
        @* David Profil *@
        <img src="~/Content/Images/David.jpg" class="SizeOfPortrait" /><br />
        <strong>Name:</strong> David Christopher Hutchinson<br />
        <strong>Title:</strong> Developer <br />
        <strong>Email:</strong> <a href="mailto:1061883@ucn.dk">1061883@ucn.dk</a><br />
    </div>
    <div>
        @* Tim Profil *@
        <img src="~/Content/Images/TimMikkelsen.jpg" class="SizeOfPortrait" /><br />
        <strong>Name:</strong> Tim Mikkelsen<br />
        <strong>Title:</strong> Developer <br />
        <strong>Email:</strong> <a href="mailto:1061944@ucn.dk">1061944@ucn.dk</a><br />
    </div>
</div>


<address>
    9200 Aalborg SV<br />
    Sofiendalsvej 60
</address>