@model SolvrWebClient.Models.LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>Viewbag.Title</h2>

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", @*new { ReturnUrl = ViewBag.ReturnUrl },*@ FormMethod.Post, new { @class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()
                <h4>Use a registered account to log in.</h4>
                <hr />

            }

        </section>
    </div>

</div>