<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!--<connectionStrings>
    <add name="SolvrDB" connectionString=/>
  </connectionStrings>-->

  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="SolvrServices.SolvrService">
        <endpoint address="Solvr" binding="basicHttpBinding" contract="SolvrServices.ISolvrServices" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2112" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>

        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferPoolSize="20000000" maxBufferSize="80000000"
          maxReceivedMessageSize="80000000">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000"
            maxArrayLength="20000000" maxBytesPerRead="20000000" maxNameTableCharCount="20000000" />
        </binding>
      </basicHttpBinding>
    </bindings>

  </system.serviceModel>

</configuration>
